.picture
{
    border-radius: 100%;
    width: 99%;
    border: 2px solid white;
    display: flex;
    justify-content: center;
}
.name
{
    text-align: center;
}
.Member
{
    border: 5px solid #113135;
    background-color: burlywood;
    border-radius: 20px;
}
.a1
{
    display: flex;
    justify-content: flex-start;
}
.z1
{
    border: 5px solid #113135;
    border-radius: 20px;
}
.n1
{
    border: 10px solid burlywood;
    border-radius: 20px;
}
